@use "abstracts/mixins" as m;

.popup-active {
  overflow: hidden;

  .popup-holder {
    opacity: 1;
    pointer-events: all;
    z-index: 9999;
  }
}

.popup-holder {
  @include m.transition(opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

.popup {
  max-width: 600px;
  padding: 40px 15px;
  background: var(--color-white);
  border-radius: var(--border-radius-md);
  position: relative;
  overflow: hidden;

  &-close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background: transparent;

    @include m.hover {
      &::after,
      &::before {
        background: var(--color-dark-red);
      }
    }

    &::after,
    &::before {
      @include m.transition(background);
      content: "";
      width: 14px;
      height: 2px;
      background: var(--color-black);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.main-block {
  text-align: center;
}

.quiz-list {
  @include m.listReset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  li {
    display: flex;
    width: 33.33%;
    padding: 0 15px 30px;
  }
}

.quiz-card {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-md);

  &-body {
    flex: 1 0 auto;
  }

  &-footer {
    text-align: center;
  }

  .btn {
    max-width: 200px;
    min-width: auto;
    width: 100%;
  }
}

.quiz {
  &-nav {
    padding: 0 15px 20px;
    margin: 0 -15px 20px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  &-info {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
    margin-bottom: 10px;
  }

  &-time {
    min-width: 58px;
    text-align: right;
    padding-left: 22px;
    position: relative;

    .icon-clock {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &-progress {
    width: 100%;
    height: 8px;
    background: var(--color-light-gray);
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    position: relative;
  }

  &-progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--color-black);

    .is-animated & {
      @include m.transition(width);
    }
  }

  &-track {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    .is-animated & {
      @include m.transition(transform);
    }
  }

  &-slide {
    display: flex;
    padding: 0 15px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.validate {
      .btn-next {
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
      }
    }

    .info-holder {
      flex: 1 0 auto;
    }

    .btn-holder {
      text-align: center;
    }

    .btn-next {
      @include m.transition(opacity);
      opacity: 0.1;
      cursor: none;
      pointer-events: none;
    }
  }

  .h3 {
    margin-bottom: 30px;
  }

  .answers-holder {
    margin-bottom: 30px;
  }
}

.answer {
  display: block;
  padding: 10px 15px 10px 35px;
  margin-bottom: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-md);
  position: relative;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    &:checked ~ .custom-radio {
      &::before {
        opacity: 1;
      }
    }
  }

  .custom-radio {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 13px;
    left: 15px;
    border-radius: var(--border-radius-rounded);
    overflow: hidden;
    border: 1px solid var(--color-black);

    &::before {
      @include m.transition(opacity);
      content: "";
      width: 8px;
      height: 8px;
      background: var(--color-black);
      border-radius: var(--border-radius-rounded);
      opacity: 0;
    }
  }
}

.result {
  text-align: center;

  &-icon-block {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: var(--color-light-gray);
    margin: 0 auto 15px;
    border-radius: var(--border-radius-rounded);
    overflow: hidden;
  }

  &-num {
    font-size: 50px;
    font-weight: 700;
  }

  &-list {
    @include m.listReset;

    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 30px;

    li {
      display: flex;
      flex: 1;
      padding: 5px;
    }

    .info-block {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--color-light-gray);
      border-radius: var(--border-radius-md);
    }

    .correct-num,
    .wrong-num,
    .time-num {
      display: block;
      font-size: 20px;
      font-weight: 700;
    }

    .correct-num {
      color: var(--color-green);
    }

    .wrong-num {
      color: var(--color-red);
    }

    .time-num {
      color: var(--color-gray);
    }
  }
}

.answers-list {
  @include m.listReset;

  text-align: left;
  counter-reset: my-counter;
  margin-bottom: 30px;

  li {
    counter-increment: my-counter;
    padding-left: 30px;
    padding: 15px 0 15px 40px;
    border-bottom: 1px solid var(--color-light-gray);
    position: relative;

    &:last-child {
      border: none;
    }

    &::before {
      content: counter(list-item);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: var(--color-black);
      background: #f3f1f1;
      position: absolute;
      top: 15px;
      left: 0;
      border: 1px solid var(--color-black);
      border-radius: var(--border-radius-rounded);
    }
  }

  .question-text,
  .answer-text,
  .explanation-text {
    display: block;
    margin-bottom: 15px;
  }

  .question-text {
    font-size: 20px;
  }

  .answer-text,
  .explanation-text {
    font-size: 16px;
    padding: 10px;
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius-md);
  }

  .answer-text {
    &.wrong {
      color: var(--color-dark-red);
      background: var(--color-light-red);
      border-color: var(--color-dark-red);
    }

    &.correct {
      color: var(--color-dark-green);
      background: var(--color-light-green);
      border-color: var(--color-dark-green);
    }
  }
}
