@use "abstracts/mixins" as m;

.btn {
  @include m.transition(background);
  min-width: 220px;
  display: inline-block;
  vertical-align: middle;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  text-transform: uppercase;
  padding: var(--btn-padding);
  color: var(--btn-color);
  background: var(--btn-background);
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;

  @include m.hover {
    color: var(--btn-color);
    background: var(--btn-hover-background);
  }
}
