@use "abstracts/mixins" as m;

.social-networks {
  @include m.listReset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  line-height: 1;
  margin: 0 -5px 10px;

  li {
    padding: 2px 5px;
  }

  a {
    display: block;
    color: var(--color-black);

    @include m.hover {
      color: var(--color-gray);
    }
  }
}
